<% include ./partial/header.ejs %>

  <div id="box" style="width: 100%; height:300px;background-position: center;background-size: cover;position: relative;
  background-image: url(https://media.istockphoto.com/photos/abstract-3d-background-picture-id1182956228?b=1&k=20&m=1182956228&s=170667a&w=0&h=0Us8jpDfFBCdmstUVXzJsmxsU0iioJCX05r1NFq_NtQ=);">
    <div class="container" ">
      <img  style="width: 200px ;height: 200px;position: absolute; left: 50%;bottom:-30%;transform: translate(-50%,0);" src='../images/upload/<%= userdata.profilepic[userdata.profilepic.length -1] %>' class="card-img-top rounded-circle mb-5" alt="..." /> <br>
      <form action="/uploads" method="post" enctype="multipart/form-data" >
        <input id="choose" type="file" name="image">
        <input type="submit" value="Upload">
      </form>
      <a class="btn btn-primary btn-lg mt-5 mb-3" href="/allpic" role="button">
        Profilepics
      </a>
      
  </div>
  </div>
    
    <div class="container mt-5  ">
      
      <div class="jumbotron">
        <h1 class="display-4">Hello, <%= userdata.username.charAt(0).toUpperCase()+ userdata.username.substring(1,userdata.username.length)  %></h1>
        <p class="lead">This is the profile page featuring <%=userdata.username%>.</p>
        <div class="contain d-flex" style="justify-content: space-between;width: 25%;">
          <a style="text-decoration: none;" href="/followers/<%= userdata._id %>">Followers</a>
          <a style="text-decoration: none;" href="/following/<%= userdata._id %>">Following</a>
        </div>
        <hr class="my-4">
        <p>Creating a life, I love..</p>
      </div>
      <h3> Upload your story </h3>
        <form action="/stories" method="post" enctype="multipart/form-data" >
        <input type="file" name="image">
        <input type="submit" value="Upload" >
      </form>
    </div>
    <div class="container mt-5 d-flex">
    <% if(userdata.posts.length>0){ %>
        <% userdata.posts.forEach(function(post){ %>
            <div class="card mx-3" style="width: 15rem">
                <img src="<%= post.imageurl %>" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title"><%= userdata.username %> post</h5>
                  <p class="card-text">
                    <%= post.content %>
                  </p>
                  <a href=<%='/like/'+ post._id %> class="btn btn-primary"><%= post.likes.length %>  likes </a>
                  <a href=<%= '/edit/'+post._id %> class="btn btn-primary">edit</a>
                  <a href=<%= '/delete/'+post._id %> class="btn btn-danger">delete</a>
                </div>
              </div>
       <% })%>
    <% } else{ %>
        <div class="container mt-5 d-flex">
            <div class="card mx-3" style="width: 15rem">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title"><%= userdata.username %> post</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the
                  bulk of the card's content.
                </p>
                <a href=<%='#'+userdata._id%> class="btn btn-primary">0 likes</a>
                <a href="#" class="btn btn-primary">edit</a>
                <a href="#" class="btn btn-danger">delete</a>
              </div>
            </div>
            <h2 style="margin-left: 20px">No posts has been added yet!</h2>
          </div>
    <% } %>
    

    <% if(userdata.share.length>0){ %>
      <% userdata.share.forEach(function(post){ %>
          <div class="card mx-3" style="width: 15rem">
              <img src="<%= post.user.imageurl %>" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title"><%= post.user.username %> post</h5>
                <p class="card-text">
                  <b> <%=userdata.username  %> shared <%= post.user.username %>'s post</b> 
                </p>
                <p class="card-text">
                  <%= post.content %>
                </p>
                <a href=<%='/like/'+ post._id %> class="btn btn-primary"><%= post.likes.length %>  likes </a>
              </div>
            </div>
     <% })%>
  <% } %>
    </div>
    <div class="container mt-5">
      <form method="post" action="/createpost">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">imageurl</label>
          <input
            type="text"
            name="imageurl"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">Enter your Name</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">content</label>
          <input
            type="text"
            name="content"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <% include ./partial/footer.ejs %>
